@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Roboto", sans-serif;

}

.nav-bar{
    display: flex;
    flex-flow: row wrap;
    height: 100px;
    background-color:  white;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

.logo{
    flex:20%;
    /* border: solid 1px red; */
    text-align: left;
    margin-left: 10%;
}
.logo h1{
    font-family: "Jacquard 12", system-ui;
    color: rgb(33, 46, 82);
    font-size: 40px;

}

.menu{
    flex: 70%;
    /* border: solid 1px rgb(16, 152, 220); */
    text-align: right;
    padding: 20px;
}

.menu a{
    color: rgb(33, 46, 82);
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}
.menu a:hover{
    color:rgb(47, 191, 247);
    border-top: 4px solid;
}

#botao{
    background:rgb(33, 46, 82);
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background: rgb(47, 191, 247);
}

.header{
    display: flex;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.contact-btn{
    display: inline-block;
    background: rgb(47, 191, 247);
    padding: 20px;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    text-decoration: none;
}

.contact-btn:hover{
    background: rgb(33, 46, 82);

}
.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: solid 1px blue; */
    text-align: center;
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: rgb(33, 46, 82);
    padding: 0;
    margin: 0;

}

.headline p{
    color: gray;
    text-align: left;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: solid 1px black; */
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 5%;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Jacquard 12", system-ui;
    font-weight: bold;
    color: rgb(33, 46, 82);
}

.servicos{
    display: inline-block;
    margin-top: 5%;

}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid rgb(47, 191, 247);
    border-radius: 10px;
    cursor: pointer;
}
.texto-oculto{
    display: none;

}
.card:hover{
    background: rgb(47, 191, 247);
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, rgb(33, 46, 82), #090422,black );
    text-align: center;
    border-top: 5px solid rgb(47, 191, 247);
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: "Jacquard 12", system-ui;
    color: white;
    font-size: 40px;

}

.whats{
    position: fixed;
    bottom: 5px;
    right: 5px;
}